.main1
h3{
    margin: 1rem;
        padding: 0,7rem;
        color: $colorTit;
        font-family: 'Oleo Script Swash Caps', cursive;
        text-align:left;
        
        .img{
            width: 50px;
            text-align: center;
        }

        }